<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Étiquettes pour tableau électrique</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" rel="stylesheet">

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<style>
		/*body {
			text-align: center;
			vertical-align: middle;
			font-size: 9pt
		}*/

		.btn {
			border-radius: 0px;
		}

		.don {
			background-color: #c75302;
			border-color: #c75302;
			color: white;
			font-size: 1.25rem;
		}

		.don:hover {
			background-color: white;
			border-color: #c75302;
			color: #c75302;
		}

		.tableau-electrique {
			font-family: Roboto;
		}

		.font-8 {
			font-size: 8pt;
		}

		table {
			border-collapse: collapse;
			margin-top: 20px;
			text-align: center;
			vertical-align: middle;
			font-size: 9pt
		}

		td {
			width: 1.8cm;
		}

		td.mod-2 {
			width: 3.6cm;
		}

		td.mod-3 {
			width: 5.4cm;
		}

		td.mod-4 {
			width: 7.2cm;
		}

		td.mod-5 {
			width: 9cm;
		}

		td.mod-6 {
			width: 10.8cm;
		}

		.emplacement td {
			border-left: 1px solid white;
		}

		.icon {
			height: 1.8cm;
			border-top: 1px solid black
		}

		.application {
			height: 1cm;
		}

		.emplacement {
			height: 2.2cm;
		}

		.emplacement {
			background-color: #666666;
			color: white;
			font-weight: bold;
		}


		.application td.selected,
		.icon td.selected,
		.modal .application,
		.modal .icon {
			cursor: pointer;
		}

		td.selected {
			border-color: DarkOrange;
			border-width: 2px;
			border-style: none;
		}

		.select td {
			padding-top: 10px;
			color: #666666;
		}

		.select td:hover {
			color: DarkOrange;
		}

		.edit-mod {
			font-size: 1.2rem;
		}

		.icon td.selected {
			border-top-style: solid;
			border-left-style: solid;
			border-right-style: solid;
		}

		.application td.selected {
			border-left-style: solid;
			border-right-style: solid;
		}

		.emplacement td.selected {
			border-bottom-style: solid;
			border-left-style: solid;
			border-right-style: solid;
		}


		.icon img {
			filter: opacity(0.7);
		}

		.data,
		.editor {
			margin-top: 30px;
			text-align: left;
		}

		@page {
			size: A4 landscape;
		}

		@media print {
			td.selected {
				border-width: 0px;
			}
		}

		.electric-panel {
			background-size: cover;
			background-position: center;
		}

		.old-electric-panel {
			background-image: url('img/Vieux-tableau-électrique-sans-étiquettes.jpg');
		}

		.new-electric-panel {
			background-image: url('img/Tableau-électrique-avec-étiquettes.jpg');
		}

		.slogan {
			padding-top: 350px;
			padding-bottom: 75px;
		}

		.carousel-slogan {
			background-color: white;
			color: black;
			right: 0%;
			left: 0%;
			padding-top: 0.3rem;
			padding-bottom: 0.1rem;
			opacity: 0.92;
		}

		.fs-5p {
			font-size: 1.15rem !important;
		}

		.action-add:hover {
			background-color: var(--bs-success)
		}

		.action-remove:hover {
			background-color: var(--bs-danger)
		}

		.permalink {
			width: 73%;
			border-radius: 0px;
		}

		footer .logo {
			width: 5%;
			margin-right: 10px;
			filter: opacity(0.6);
		}

		/*Pour mobile*/
		@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

			.container,
			.container-md {
				max-width: none;
			}
		}
	</style>


</head>

<body id="app">

	<div class="container-md d-print-none">
		<header class="d-flex flex-wrap justify-content-center pt-3 pb-1 border-bottom">
			<a href="https://qlefevre.github.io/etiquettes-tableau-electrique/"
				class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
				<i class="bi bi-wrench-adjustable-circle fs-1 me-2"></i>
				<span class="fs-4">Étiquettes pour tableau électrique</span>
			</a>

			<ul class="nav nav-pills mt-3">
				<li class="nav-item">
					<a href="#presentation" class="nav-link text-decoration-none text-reset">Présentation</a>
				</li>
				<li class="nav-item">
					<a href="#etiquettes" class="nav-link text-decoration-none text-reset">Étiquettes</a>
				</li>
				<li class="nav-item">
					<a href="#modeles" class="nav-link text-decoration-none text-reset">Modèles</a>
				</li>
				<li class="nav-item">
					<a href="#mes-motivations" class="nav-link text-decoration-none text-reset">Mes motivations</a>
				</li>
			</ul>
		</header>

		<div class="row justify-content-center">
			<article id="presentation" class="col-10">

				<div id="carouselTableaux" class="carousel slide text-center" data-bs-ride="carousel"
					data-bs-pause="false" data-bs-interval="2000">
					<div class="carousel-inner">
						<div class="carousel-item active electric-panel old-electric-panel" data-bs-interval="2500">
							<div class="slogan"></div>
							<div class="carousel-caption d-none d-md-block carousel-slogan w-100">
								<h3 class="display-6 fw-light">Votre tableau</h3>
								<p class="lead">Créer des étiquettes pour votre tableau
									électrique.</p>
							</div>
						</div>
						<div class="carousel-item electric-panel new-electric-panel" data-bs-interval="5000">
							<div class="slogan"></div>
							<div class="carousel-caption d-none d-md-block carousel-slogan w-100">
								<h3 class="display-6 fw-light">Votre <strong class="px-3">nouveau</strong> tableau</h3>
								<p class="lead">Créer des étiquettes pour votre tableau
									électrique.</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 mx-auto pt-5">
					<h1 class="display-6 py-3">Mode d'emploi</h1>
				</div>
				<div class="col-9 mx-auto pb-5 pt-2">
					<ol class="fs-5 display-6">
						<li>Je choisis mon tableau.</li>
						<li>Je choisis ma taille d'étiquette : ancien format 5 cm / nouveau format 3 cm de hauteur.</li>
						<li>Je configure la taille et le nombre de modules par rangée.</li>
						<li>J'ajoute tous les modules.</li>
						<li>Je sauvegarde mon travail via le lien permanent.</li>
						<li>J'imprime la page (Ctrl+P).</li>
					</ol>
				</div>

			</article>

			<article id="etiquettes" class="col-10">
				<span class="border-bottom fs-2 display-6">Étiquettes</span>
				<div class="row my-4 ">
					<div class="col-12 d-flex justify-content-end">
						<a class="btn btn-secondary action-add" @click="addRow"><i class="bi bi-plus-square"></i>
							Ajouter une
							rangée</a>
						<a class="btn btn-secondary ms-2 action-remove" @click="removeRow"><i
								class="bi bi-x-square"></i> Supprimer
							une
							rangée</a>
					</div>
				</div>
			</article>

		</div>

	</div>


	<div class="tableau-electrique">
		<div v-if="rangees.length > 0" v-for="(rangee,idxRg) in rangees">
			<table class="mx-auto">
				<tbody>
					<tr class="icon">
						<td v-for="(module,idxMod) in rangee.modules" :class="css(module,idxRg,idxMod)"><img
								:src="srcImg(module)" @click="changeIcon(module)"></td>
					</tr>
					<tr class="application">
						<td v-for="(module,idxMod) in rangee.modules" :class="css(module,idxRg,idxMod)"
							@click="changeApplication(module)">{{module.app}}</td>
					</tr>
					<tr class="emplacement">
						<td v-for="(module,idxMod) in rangee.modules" :class="css(module,idxRg,idxMod)"
							v-html="loc(module)"></td>
					</tr>
					<tr class="select d-print-none">
						<td v-for="(module,idxMod) in rangee.modules">
							<a @click="selectModule(idxRg,idxMod)" data-bs-toggle="modal"
								data-bs-target="#exampleModal"><i class="edit-mod bi-pencil-fill"></i></a>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<div class="container-md d-print-none">



			<!-- Button trigger modal -->
			<div class="row my-5 d-flex justify-content-center">
				<div class="col-8">
					Pour sauvegarder votre travail, copier ce lien dans un email ou espace de votre choix :</br>
					<a class="btn btn-secondary action-save" @click="copyPermalink()"><i
							class="bi bi-box-arrow-up-right"></i> Copier le lien permanent</a>
					<input type="text" class="form-control d-inline-block permalink mt-2 ms-2" :value="toPermaLink()"
						readonly>
					<a class="btn btn-secondary action-print mt-3" onclick="window.print()"><i
							class="bi bi-printer"></i> Imprimer l'étiquette</a>
				</div>
			</div>


			<!-- Modal -->
			<div class="modal modal-lg" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Rangée n° {{rangeeIndex+1}} module n°
								{{moduleIndex+1}} </h1>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-4">
									<table class="mx-auto">
										<tbody>
											<tr class="icon">
												<td :class="css(this.selectedModule)"><img
														:src="srcImg(this.selectedModule)"
														@click="changeIcon(this.selectedModule)"></td>
											</tr>
											<tr class="application">
												<td :class="css(selectedModule)"
													@click="changeApplication(selectedModule)">
													{{selectedModule.app}}</td>
											</tr>
											<tr class="emplacement">
												<td :class="css(selectedModule)" v-html="loc(selectedModule)"></td>
											</tr>
										</tbody>
									</table>

								</div>
								<div class="col-8">
									<div class="mb-4 row">
										<label for="selectApplication"
											class="col-sm-3 col-form-label">Application</label>
										<div class="col-sm-9">
											<select id="selectApplication" class="form-select"
												@change="editModule($event,'application')" :value="selectedModule.app">
												<option v-for="application in Object.keys(applications)"
													:value="application">
													{{application}}</option>
											</select>
											<input type="text" class="form-control mt-1" id="inputApplication"
												@change="editModule($event,'applicationonly')"
												:value="selectedModule.app">
										</div>
									</div>
									<div class="mb-4 row">
										<label for="selectEmplacement"
											class="col-sm-3 col-form-label">Emplacement</label>
										<div class="col-sm-9">
											<select id="selectEmplacement" class="form-select"
												@change="editModule($event,'location')" :value="selectedModule.loc">
												<option v-for="emplacement in emplacements" :value="emplacement">
													{{emplacement}}
												</option>
											</select>
											<input type="text" class="form-control mt-1" id="inputEmplacement"
												@change="editModule($event,'location')" :value="selectedModule.loc">
										</div>
										<!-- <input type="text" @change="editModule($event,'location')"> -->
									</div>
									<div class="mb-4 row">
										<label for="selectSize" class="col-sm-3 col-form-label">Taille module</label>
										<div class="col-sm-9">
											<select id="selectSize" class="form-select"
												@change="editModule($event,'size')">
												<option value="1">1</option>
												<option value="2">2</option>
												<option value="3">3</option>
												<option value="4">4</option>
												<option value="5">5</option>
												<option value="6">6</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal"
								@click="fixRowSize()">Appliquer</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<div class="container-md d-print-none">
		<div class="row justify-content-center">
			<article id="modeles" class="col-10">
				<span class="border-bottom fs-2 display-6">Modèles</span>
				<p class="fs-5p display-6 pt-4 ps-5">Cliquez sur l'un des modèles ci-dessous pour commencer un nouveau
					travail.</p>
				<div class="row justify-content-center mt-2 fs-6 display-6 text-center">
					<div class="col-3 align-self-end">
						<a
							href='?json&data=[{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Lave vaisselle","l":"Cuisine"},{"a":"Prise de courant","l":"Cuisine"},{"a":"Prise de courant"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Four","l":"Cuisine"},{"a":"Prise de courant"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Plaque de cuisson","l":"Cuisine"},{"a":"Lave linge","l":"Buanderie"},{"a":"Prise de courant"},{"a":"Éclairage"}]}]#etiquettes'>
							<img src="img/LEGRAND-Drivia-3-rangées-39-modules-T4.webp" class="img-fluid">
						</a>
					</div>
					<div class="col-3 align-self-end">
						<a
							href='?json&data=[{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Four","l":"Cuisine"},{"a":"Prise de courant"},{"a":"Prise de courant"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Lave vaisselle","l":"Cuisine"},{"a":"Prise de courant"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Plaque de cuisson","l":"Cuisine"},{"a":"Lave linge","l":"Buanderie"},{"a":"Prise de courant"},{"a":"Éclairage"}]}]#etiquettes'>
							<img src="img/SCHNEIDER-Resi9-3-rangées-39-modules-T4.jpg" class="img-fluid">
						</a>
					</div>
					<div class="col-3 align-self-end">
						<a
							href='?json&data=[{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Prise de courant","l":""},{"a":"Éclairage"},{"a":"Éclairage"},{"a":"Éclairage"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Lave linge","l":"Buanderie"},{"a":"Prise de courant"},{"a":"Prise de courant"},{"a":"Prise de courant"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Plaque de cuisson","l":"Cuisine"},{"a":"Lave vaisselle","l":"Cuisine"},{"a":"Four","l":"Cuisine"},{"a":"Prise de courant"}]}]'>
							<img src="img/LEXMAN-3-rangées-39-modules-T4.jpg" class="img-fluid">
						</a>
					</div>
				</div>
				<div class="row justify-content-center mt-2 fs-6 display-6 text-center">
					<div class="col-3">
						<a href='?json&data=[{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Lave vaisselle","l":"Cuisine"},{"a":"Prise de courant","l":"Cuisine"},{"a":"Prise de courant"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Four","l":"Cuisine"},{"a":"Prise de courant"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Plaque de cuisson","l":"Cuisine"},{"a":"Lave linge","l":"Buanderie"},{"a":"Prise de courant"},{"a":"Éclairage"}]}]#etiquettes'
							class="text-decoration-none text-reset">
							LEGRAND Drivia T4<br>
							3 rangées 39 modules
						</a>
					</div>
					<div class="col-3">
						<a href='?json&data=[{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Four","l":"Cuisine"},{"a":"Prise de courant"},{"a":"Prise de courant"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Lave vaisselle","l":"Cuisine"},{"a":"Prise de courant"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Plaque de cuisson","l":"Cuisine"},{"a":"Lave linge","l":"Buanderie"},{"a":"Prise de courant"},{"a":"Éclairage"}]}]#etiquettes'
							class="text-decoration-none text-reset">
							SCHNEIDER Resi9 T4<br>
							3 rangées 39 modules
						</a>
					</div>
					<div class="col-3">
						<a href='?json&data=[{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Prise de courant","l":""},{"a":"Éclairage"},{"a":"Éclairage"},{"a":"Éclairage"},{"a":"Éclairage"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Lave linge","l":"Buanderie"},{"a":"Prise de courant"},{"a":"Prise de courant"},{"a":"Prise de courant"}]},{"modules":[{"a":"Interrupteur différentiel","m":2},{"a":"Plaque de cuisson","l":"Cuisine"},{"a":"Lave vaisselle","l":"Cuisine"},{"a":"Four","l":"Cuisine"},{"a":"Prise de courant"}]}]'
							class="text-decoration-none text-reset">
							LEXMAN T4<br>
							3 rangées 39 modules
						</a>
					</div>
				</div>

			</article>

			<article id="mes-motivations" class="col-10 mt-5">
				<span class="border-bottom fs-2 display-6">Mes motivations</span>
				<div class="row justify-content-center mt-4">
					<div class="col-8">
						<p class="fs-5p display-6">
							Je cherchais un moyen simple de créer une étiquette pour tableau électrique sur navigateur.
							<br>Et je ne souhaitais pas passer par une application Android avec inscription
							obligatoire.
						</p>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-4 text-end me-2  my-auto">
						<p class="lead mt-4">Mon frangin est parti trop tôt.</p>
					</div>
					<div class="col-3">
						<img src="img/frangin.png" class="img-fluid">
					</div>
					<div class="col-4 text-start ms-2 my-auto">

						<p class="lead">Si cette page vous a été utile, faîtes un don pour
							la recherche sur le cerveau.</p>

					</div>

					<div class="row justify-content-center">
						<div class="col-4 text-end my-auto pe-4">
							<a href="https://don.institutducerveau-icm.org/b/mon-don"><img src="img/logo-icm.png"></a>
						</div>
						<div class="col-4 text-center fs-3 display-6 fw-lighter my-auto mb-0">
							1€ c'est toujours mieux que rien. Merci à vous.</div>
						<div class="col-4 text-start align-middle ps-5">
							<a href="https://soutenir.frcneurodon.org/b/mon-don"><img src="img/logo-frc.png"></a>
						</div>
					</div>
					<div class="row justify-content-center">
						<div class="col-3 text-center">
							<a href="https://don.institutducerveau-icm.org/b/mon-don"
								class="btn btn-secondary don">Faire un don</a>
						</div>
						<div class="col-4"></div>
						<div class="col-3 text-center">
							<a href="https://soutenir.frcneurodon.org/b/mon-don" class="btn btn-secondary don">Faire un
								don</a>
						</div>
					</div>

			</article>
		</div>



		<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top d-print-none">

			<div class="col-md-8 d-flex align-items-center">
				<img src="https://raw.githubusercontent.com/qlefevre/etiquettes-tableau-electrique/main/img/electric-panel-64.png"
					class="logo" />
				<span class="mb-3 mb-md-0 text-muted">
					2023 <a class="text-decoration-none text-reset"
						href="https://qlefevre.github.io/etiquettes-tableau-electrique/">Étiquettes pour tableau
						électrique</a>. Icônes fournies ou
					inspirées de <a class="text-decoration-none text-reset"
						href="https://icons8.com/icon/set/household/ios">icons8.com</a>.
			</div>

			<ul class="nav col-md-4 justify-content-end">
				<li class="nav-item">
					<a href="#presentation" class="nav-link px-2 text-muted">Présentation</a>
				</li>
				<li class="nav-item">
					<a href="#etiquettes" class="nav-link px-2 text-muted">Étiquettes</a>
				</li>
				<li class="nav-item">
					<a href="#modeles" class="nav-link px-2 text-muted">Modèles</a>
				</li>
				<li class="nav-item">
					<a href="#mes-motivations" class="nav-link px-2 text-muted">Mes motivations</a>
				</li>

			</ul>
		</footer>
	</div>



	<script>
		const { createApp } = Vue;

		createApp({
			data() {
				return {
					rangeeIndex: 0,
					moduleIndex: 0,
					applications: {
						" ": "none", "Prise de courant": "prise", "Éclairage": "eclairage", "Télérupteur": "eclairage", "Chaudière": "chaudiere",
						"Lave linge": "lave-linge", "Sèche linge": "seche-linge", "Lave vaisselle": "lave-vaisselle", "Four": "four", "Micro ondes": "micro-ondes", "Plaque de cuisson": "plaque-cuisson",
						"Hotte": "hotte", "Sonnerie": "sonnerie", "Interrupteur différentiel": "interrupteur-differentiel", "Interphone": "interphone", "VMC": "vmc",
						"Disjoncteur": "disjoncteur"
					},
					emplacements: ['', 'Atelier', 'Buanderie', 'Bureau', 'Cave', 'Cellier', 'Chambre', 'Couloir', 'Cuisine', 'Entrée', 'Extérieur', 'Garage', 'Grenier', 'Salle à manger', 'Salle de bain', 'Salon', 'WC'],
					taille: 13,
					rangees: [
						{
							modules: [
								{ app: "Interrupteur différentiel", loc: "Général", mod: 2 },
								{ app: "Disjoncteur", loc: "Tableau Cuisine" },
								{ app: "Disjoncteur", loc: "Tableau Principal" },
								{ app: "Prise de courant", loc: "Ch. Garage" },
								{ app: "Prise de courant", loc: "S<span class='font-8'>alle de </span>Bain\nCh. Rue\nCh. Jardin" },
								{ app: "Prise de courant", loc: "Ch. Jardin\nBureau\nCh. Garage" },
								{ app: "Prise de courant", loc: "Ch. Garage Garage" },
								{ app: "Éclairage", loc: "S<span class='font-8'>alle de Bain</span> Ch. Rue\nCh. Jardin Bureau Sonnette" },
								{ app: "Éclairage", loc: "Palier\nCh. Garage Grenier" },
								{ app: "Télérupteur", loc: "Palier" },
								{ img: "sonnerie", app: "Transformateur Sonnette", loc: "Hall", mod: 2 },
							]
						}, {
							modules: [
								{ app: "Prise de courant", loc: "Salon" },
								{ app: "Prise de courant", loc: "Cuisine" },
								{ app: "Chaudière", loc: "Garage" },
								{ app: "Éclairage", loc: "Cuisine Salon" },
								{ app: "Éclairage", loc: "Hall\nWC\nGarage" },
								{ app: "Lave linge", loc: "Garage" },
								{ img: "prise", app: "Prise 20A", loc: "Garage" },
								{ app: "Non utilisé" },
								{ app: "Télérupteur", loc: "Garage" },
								{ app: "Télérupteur", loc: "Hall" }
							]
						}
					]

				}
			},
			computed: {
				icons: function () {
					return [...new Set(Object.values(this.applications))];
				},
				selectedModule: function () {
					console.log('select ' + this.rangeeIndex);
					console.log('module ' + this.moduleIndex);
					return this.rangees[this.rangeeIndex].modules[this.moduleIndex];
				}

			},
			methods: {
				srcImg: function (module) {
					return module.img ? 'img/' + module.img + '.png' : '';
				},
				css: function (module, rgIdx = -1, modIdx = -1) {
					let css = 'mod-' + (module.mod ? module.mod : '1');
					css += (rgIdx == this.rangeeIndex && modIdx == this.moduleIndex) ? ' selected' : '';
					return css;
				},
				loc: function (module) {
					if (!module.loc) return '';
					return module.loc.replaceAll('\n', '<br>')
				},
				changeIcon: function (module) {
					if (this.isModuleSelected(module)) {
						let index = this.icons.indexOf(module.img)
						module.img = this.icons[(index + 1) % this.icons.length];
					}
				},
				changeApplication: function (module) {
					if (this.isModuleSelected(module)) {
						let appKeys = Object.keys(this.applications);
						let index = appKeys.indexOf(module.app);
						module.app = appKeys[(index + 1) % appKeys.length];
						module.img = this.applications[module.app];
					}
				},
				selectModule: function (idxRg, idxMod) {
					this.rangeeIndex = idxRg;
					this.moduleIndex = idxMod;
				},
				isModuleSelected: function (module) {
					return this.rangees[this.rangeeIndex].modules[this.moduleIndex] == module;
				},

				editModule: function (event, type) {
					val = event.target.value;
					let module = this.rangees[this.rangeeIndex].modules[this.moduleIndex];
					if (type == 'application') {
						module.app = val;
						module.img = this.applications[val];
					} else if (type == 'applicationonly') {
						module.app = val;
					} else if (type == 'location') {
						module.loc = val;
					} else if (type == 'size') {
						module.mod = val;
					}
				},
				addRow: function () {
					let rangee = { modules: [{}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}] }
					this.rangees.push(rangee);
				},
				removeRow: function () {
					this.rangees.pop();
				},
				checkRowSize(row) {
					let rowSize = row.length;
					for (module of row) {
						if (module.mod != undefined && module.mod > 1) {
							rowSize += module.mod - 1;
						}
					}
					let missingMod = this.taille - rowSize;
					if (missingMod > 0) {
						while (missingMod > 0) {
							row.push({});
							missingMod--;
						}
					}

				},
				fixRowSize() {
					console.log('test');
					let row = this.rangees[this.rangeeIndex].modules;
					let rowSize = row.length;
					for (module of row) {
						if (module.mod != undefined && module.mod > 1) {
							rowSize += module.mod - 1;
						}
					}
					let missingMod = this.taille - rowSize;
					if (missingMod > 0) {
						while (missingMod > 0) {
							row.push({});
							missingMod--;
						}
					}
					if (missingMod < 0) {
						while (missingMod < 0) {
							row.pop();
							missingMod++;
						}
					}
				},
				copyPermalink: function () {
					console.log('-- json');
					console.log(this.toData(true));
					console.log('-- small');
					console.log(this.toData());
					navigator.clipboard.writeText(this.toPermaLink());
				},
				toPermaLink: function () {
					return window.location.origin + window.location.pathname + '?json&data=' + this.toData(true);
				},
				toData: function (json) {
					// On travaille sur une copie
					let data = JSON.parse(JSON.stringify(this.rangees));
					// On supprime les associations img/app non modifiées
					for (rangee of data) {
						for (module of rangee.modules) {
							// suppression doublon
							if (this.applications[module.app] == module.img) {
								delete module.img;
							}
							// passage à un caractère
							module.a = module.app;
							module.i = module.img;
							module.l = module.loc;
							module.m = module.mod;
							delete module.app;
							delete module.img;
							delete module.loc;
							delete module.mod;
						}
					}
					data = JSON.stringify(data);
					// suppression des modules vides
					data = data.replaceAll(',{}', '');
					if (!json) {
						data = data.replaceAll('{', '(').replaceAll('}', ')');
						data = data.replaceAll('":"', '~').replaceAll('","', '_');
						data = data.replaceAll(',', '').replaceAll('"', '');
						data = data.replaceAll('(modules:[', 'rg-').replaceAll('])', '');
						data = data.replace('[', '').replace(']', '').replaceAll(':', '~');
					}

					return data;
				},
				addImageAndCheckSize(rangees) {
					// Ajout des images manquantes
					for (rangee of rangees) {
						for (module of rangee.modules) {
							// ajout de l'image
							if (!module.img) {
								module.img = this.applications[module.app];
							}
							// passage du mod 
							if (module.mod) {
								module.mod = Number(module.mod);
							}
						}
						// vérifie la taille de cette rangee
						this.checkRowSize(rangee.modules);
					}
				},
				fromData: function (data, json = false) {
					if(!json){
					// Suppression reencodage
					data = data.replaceAll('rg-', '(modules":[');
					data = data.replaceAll('~', '":"').replaceAll('_', '","');
					data = data.replaceAll('(', '{"').replaceAll(')', '"}');
					data = data.replaceAll('{""}', '{}');
					data = data.replaceAll('}{', '},{');
					data = data.replaceAll('},{"modules"', '}]},{"modules"')
					data = '[' + data + ']}]';
					}
					data = data.replaceAll('"a"', '"app"').replaceAll('"i"', '"img"');
					data = data.replaceAll('"l"', '"loc"').replaceAll('"m"', '"mod"');
					

					console.log(data);
					json = JSON.parse(data);

					// Add images and check rows
					this.addImageAndCheckSize(json);

					return json;
				}
			},
			mounted() {

				const urlParams = new URLSearchParams(window.location.search);
				let data = urlParams.get('data');
				let json = urlParams.has('json');

				if (data) {
					data = decodeURI(data);

					console.log(data);

					while (this.rangees.length > 0) {
						this.rangees.pop();
					}

					this.rangees = this.fromData(data,json);
				} else {
					this.addImageAndCheckSize(this.rangees);
				}

			}
		}).mount('#app');

	</script>


</body>

</html>
